.logo
  %a{:href => 'https://home.hellodriven.com', :target => '_blank'}
    %img(src="https://home.hellodriven.com/img/logo-colored.png")
  %a{:href => 'index.html', :target => '_parent'}
    %span
      api


%h1 Topics
%ol#files-index-entries.index-entries.docs_files
  - values[:files].select { |x| x.name =~ /\.md$/i }.each do |file|
    %li= link_to humanize_file_name(file.name), file.path

%h1 Endpoints
%ol#index-entries.index-entries.classes
  = render_class_tree values[:classes].select { |x| x.full_name =~ /controller/i }
