!!! Frameset
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title= @options.title
    %meta{ :content => "text/html; charset=#{@options.charset}", "http-equiv" => "Content-Type" }
  %frameset{ :cols => "220px, *", :border => "0", :frameborder => "0", :bordercolor => "gray" }
    %frameset{ :rows => "100%" }
      %frame{ :name => "Custom", :src => "fr_custom_index.html" }
    %frame{ :name => "docwin", :src => @main_page_uri }=""
