- title_in_description = values[:entry].description && values[:entry].description =~ /^\s*<h1>/m
- title = values[:entry].description == "" ?  values[:name] : values[:description]
.header
  - if title_in_description
    .name= title
  - else
    %h1.name= title

#content
  #text
    #description

    = frame_link yield
